<p>
    <%= link_to 'Portugues', root_path(locale: 'pt-BR') %>
</p>
<p>
    <%= link_to 'English', root_path(locale: 'en') %>
</p>
<h1>Sejam bem vindos!!!</h1>
<p>O idioma usado nessa aplicação é: <strong><%= t('actual_locale') %></strong></p>
<p> <%= @meu_nome %> a data de hoje é: <%= l(Date.today) %></p>

<%= render 'menu'%>

<p>
    Você está em ambiente de <strong><%= Rails.env %></strong>
</p>